<nav class="navbar-container">
    <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/add-blog">Add-blog</a></li>
        <li><a href="/blogs">Blogs</a></li>
        <li><a href="/about">About-us</a></li>
    </ul>
</nav>