<%- include('partials/header') %>
<div class="main-body-container">
    <form class="register-form general-forms" id="register_form" action="/register" method="POST">
        <% if(message !== null){ %>
            <div class="warning"><%= message %></div>
        <% } %>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" placeholder="Enter username" required="true">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" placeholder="Enter email" required="true">
        <label for="fname">First Name:</label>
        <input type='text' id="fname" name="fname" placeholder="First name" required="true">
        <label for="lname">Last name:</label>
        <input type='text' id="lname" name="lname" placeholder="Last name" required="true">
        <div id=passwords-message class="warning" style="display: none">Passwords are different!</div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" placeholder="Enter password" required="true">
        <label for="password2">Password:</label>
        <input type="password" id="password2" name="password2" placeholder="Repeat password" required="true">
        <div class="form-buttons">
            <input type="submit" id="submit" value="Register">
            <button><a href='/login' id="login">Login</a></button>
        </div>
    </form>
</div>
<%- include('partials/footer') %>
<script>
    $(document).ready(function () {
        $('#password2').on('keyup', function () {
            if ($('#password').val() && $('#password2').val()) {
                if ($('#password').val() != $('#password2').val()) {
                    $('#passwords-message').show();
                } else {
                    $('#passwords-message').hide();
                }
            } else {
                $('#passwords-message').hide();
            }
        });
    });
</script>